header {
    background-color: #CE053C;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    align-items: stretch;
}

header > div {
}

.header > * {
    padding: 1em 0 1em 0;
}

.header-image {
    width: 4em;
}

.header-image-box {
    width: 15%;
    background-color: #00168D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    background-color: #CE053C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}