.chat-grid {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin: 2em 0 0 0;
    flex-basis: 0 !important;
}

.messages-grid {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.chat-grid > * {
    height: 4em !important;
}

.messages {
    padding-top: 2em;
    overflow-y: scroll;
}

.last-messaging-date {
    position: fixed;
    z-index: 2;
    left: 50%;
}

.message-board-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 70%;
    max-height: 85vh;
}