.message-buble {
    min-width: 10em;
    max-width: 30%;
    margin-right: 1em;
    border-radius: 10px !important;
}

.message {
    display: flex;
    margin-bottom: 1em;
}

.message-sender-icon {
    margin: 0.5em;
}